:root {
  --primary-color: #2d2640;
  --white: #fff;
  --white-1: #fafafa;
  --gray: #837d87;
  --blue: #96a9c6;
  --black: #000000;
  --purple: #2d2640;
  --text-color: #2b272f;
  --font-md: 16px;
  --font-md-2: 18px;
  --font-lg: 28px;
  --font-xl: 44px;
  --font-2xl: 52px;
  --font-family-primary: "Source Sans Pro", sans-serif;
  --font-family-secondary: "Abril Fatface", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input {
  outline: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}

body {
  color: var(--text-color);
  font-size: var(--font-md);
  font-family: var(--font-family-primary);
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container-xxl {
  max-width: 1270px;
}

.btn {
  padding: 12px 32px;
  display: inline-flex;
  font-size: var(--font-md);
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  letter-spacing: 1px;
  font-weight: 700;
}

.btn.btn-primary {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn.btn-secondary {
  color: var(--white);
  border: 2px solid var(--white);
}

.section-title {
  font-size: var(--font-xl);
}

/* HEADER */
.header {
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--white);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo a {
  color: var(--primary-color);
  font-size: var(--font-lg);
}

.header-logo a img {
  display: block;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 0 24px;
}

.nav-link {
  text-transform: uppercase;
  font-size: var(--font-md);
  color: var(--gray);
  font-weight: 700;
  letter-spacing: 1px;
}

/* BANNER */
.section-banner {
  height: 610px;
  background-color: var(--primary-color);
  margin-top: 80px;
}

.bg-pattern-left {
  position: absolute;
  bottom: 106px;
  left: 0;
  z-index: 3;
}

.bg-pattern-left img {
  width: 60%;
  height: 60%;
}

.bg-pattern-right {
  position: absolute;
  top: 78px;
  right: -86px;
  z-index: 3;
}

.bg-pattern-right img {
  width: 80%;
  height: 80%;
}

.banner-inner {
  display: flex;
  justify-content: center;
  color: var(--white-1);
  height: 100%;
  flex-direction: column;
  position: relative;
}

.banner-image {
  position: absolute;
  bottom: -125px;
  right: 15px;
  width: 510px;
  height: 618px;
}

.banner-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content {
  max-width: 572px;
  width: 100%;
}

.banner-title {
  font-size: var(--font-2xl);
  max-width: 430px;
  width: 100%;
  line-height: 1;
  position: relative;
}

.line {
  height: 1px;
}

.line-white {
  background-color: var(--white-1);
  width: 200px;
  margin-bottom: 88px;
}

.banner-desc {
  line-height: 1.6;
  margin: 26px 0;
}

/* POLICY */
.line-purple {
  background-color: var(--purple);
  width: 128px;
  margin-bottom: 20px;
}

.policy-inner {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
}

.policy-inner > .section-title {
  margin-bottom: 80px;
}

.policy-list {
  display: flex;
  justify-content: space-between;
  gap: 0 50px;
}

.policy-item {
  display: flex;
  flex-direction: column;
}

.policy-icon {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.policy-icon i {
  font-size: 32px;
  color: var(--white);
}

.policy-content {
  max-width: 356px;
  width: 100%;
}

.policy-title {
  font-size: var(--font-lg);
  margin-bottom: 24px;
}

.policy-desc {
  line-height: 1.5;
  color: var(--gray);
}

/* CONTACT */
.section-contact {
  margin: 200px 0;
}

.contact-inner {
  min-height: 190px;
  background-color: var(--primary-color);
  padding: 40px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-title {
  font-size: var(--font-2xl);
  color: var(--white);
  max-width: 486px;
  line-height: 1;
}

/* FOOTER */
.footer-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--gray);
}

.footer-logo a {
  font-size: var(--font-lg);
  font-family: var(--font-family-secondary);
  color: var(--primary-color);
}

.footer-logo a img {
  display: block;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 0 35px;
}

.footer-social-link i {
  color: var(--gray);
  font-size: 24px;
}

.footer-bottom {
  padding: 60px 30px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-sub-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-sub-item {
  margin-bottom: 16px;
}

.sub-item {
  margin-bottom: 36px;
}

.footer-sub-link {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 700;
}

.sub-link {
  margin-bottom: 50px;
  color: var(--gray);
}
