:root {
  --primary-color: #fbb03b;
  --secondary-color: #ff0000;
  --white: #fff;
  --text-color: #333333;
  --placeholder-color: #ababab;
  --gray: #808080;
  --gray-2: #cecece;
  --gray-3: #f6f6f6;
  --gray-4: #a8a8a8;
  --gray-5: #c4c4c4;
  --orange: #fff3df;
  --section-bg: #f7f7f7;
  --font-3xs: 8px;
  --font-2xs: 10px;
  --font-xs: 12px;
  --font-sm: 13px;
  --font-md: 14px;
  --font-md-2: 16px;
  --font-md-2-5: 18px;
  --font-md-3: 20px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-1-5xl: 48px;
  --font-2xl: 72px;
  --font-family-primary: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
select,
optgroup,
textarea {
  outline: 0;
  border: 0;
  font-family: var(--font-family-primary);
  color: var(--text-color);
}

body {
  color: var(--text-color);
  font-size: var(--font-md);
  font-family: var(--font-family-primary);
  overflow-x: hidden;
}

/* CSS HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 50px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo a {
  display: flex;
}

.logo a img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7466%)
    hue-rotate(245deg) brightness(121%) contrast(97%);
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 0 96px;
}

.nav-link {
  color: var(--primary-color);
  font-size: var(--font-md-2);
  font-weight: 700;
}

.header-extra {
  display: flex;
  align-items: center;
  gap: 0 24px;
  margin-right: -24px;
}

.extra-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(219deg) brightness(106%) contrast(104%);
}

.extra-control {
  display: none;
  cursor: pointer;
  background-color: transparent;
}

#hambuger {
  display: none;
}

/* BANNER */
.section-banner {
  position: relative;
  width: 100%;
  height: 800px;
  background: url(./images/Fashion-home-image.png) no-repeat center/cover;
}

.section-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.banner-inner {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;
  padding-left: 111px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.banner-title {
  max-width: 403px;
  margin-bottom: 24px;
  font-size: var(--font-2xl);
  color: var(--white);
  line-height: 1;
}

.banner-title span {
  color: var(--primary-color);
}

.banner-link {
  display: flex;
  align-items: center;
}

.banner-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 21px;
  background-color: var(--primary-color);
}

.banner-link-text {
  color: var(--white);
  font-size: var(--font-lg);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.banner-policy {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1326px;
  width: 76%;
  border-top-right-radius: 70px;
  padding: 38px 88px 24px 0;
  background-color: var(--white);
}

.policy-list {
  display: flex;
  justify-content: space-between;
  gap: 0 48px;
}

.policy-item {
  display: flex;
  max-width: 237px;
}

.policy-content {
  flex: 1;
}

.policy-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  margin-right: 21px;
  background-color: var(--orange);
}

.policy-desc {
  margin-top: 5px;
  font-size: 12px;
  color: var(--gray-4);
}

/* ABOUT */
.about {
  position: relative;
  min-height: 359px;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  opacity: 0.5;
}

.about-item-1 {
  background: url("./images/Fashion-home-image-5.png") no-repeat center/cover;
}
.about-item-2 {
  background: url("./images/Fashion-home-image-6.png") no-repeat center/cover;
}
.about-item-3 {
  background: url("./images/Fashion-home-image-7.png") no-repeat center/cover;
}

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 56px 40px;
}

.about-title {
  min-height: 73px;
  margin-bottom: 50px;
  color: var(--white);
  font-size: var(--font-lg);
  font-weight: 400;
}

.about-badge {
  margin-bottom: 8px;
}

/* SELECTED */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.section-header .section-title {
  margin-bottom: 0;
}

/* PRODUCT */
.product {
  position: relative;
  display: flex;
  flex-direction: column;
}
.product-thumnail {
  flex: 1;
  width: 100%;
}

.product-link {
  display: block;
  height: 100%;
  width: 100%;
}

.product-link img {
  display: block;
  height: 100%;
  width: 100%;
}

.product-content {
  padding: 16px 0;
}

.product-name a {
  font-size: var(--font-md-2);
  color: var(--text-color);
  font-weight: 300;
  line-height: 24px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price span {
  font-size: var(--font-md-3);
  font-weight: 400;
}

.product-sale .product-price span {
  color: var(--secondary-color);
}

.product-sale .product-price .product-discount {
  color: var(--gray-2);
}

.product-badge {
  position: absolute;
  top: 24px;
  left: 18px;
}

/* CHOOSE US */
.section-chooseus {
  padding: 48px 0 54px 0;
  background-color: var(--section-bg);
}

.chooseus {
  display: flex;
  flex-direction: column;
}

.chooseus-thumnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  margin-bottom: 46px;
  border-radius: 10px;
  background-color: var(--white);
}

.chooseus-content {
  max-width: 243px;
}

.chooseus-title {
  margin-bottom: 16px;
  text-transform: capitalize;
  font-size: var(--font-md-2);
}

.chooseus-desc {
  color: var(--gray);
  line-height: 21px;
}

.chooseus-active {
  color: var(--primary-color);
}

/* CONTACT */
.section-contact.section {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 240px;
  margin-bottom: 0;
  background: url(./images/Fashion-home-image-8.png) no-repeat center/cover;
}

.section-contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
  opacity: 0.7;
}

.contact-inner {
  display: flex;
  align-items: center;
  z-index: 3;
}

.contact-title {
  font-size: var(--font-lg);
  color: var(--white);
  line-height: 36px;
  font-weight: 400;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}

.form-submit {
  cursor: pointer;
}

.form-input {
  flex: 1;
  padding: 14px 24px;
  border-radius: 50px;
  font-size: var(--font-sm);
  color: var(--text-color);
}

.form-input::placeholder {
  font-family: var(--font-family-primary);
  color: var(--placeholder-color);
}

/* FOOTER */
.footer {
  background-color: var(--primary-color);
}

.footer-top {
  padding: 52px 0;
}

.footer-iso-logo {
  display: block;
}

.footer-iso-logo img {
  display: block;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(219deg) brightness(106%) contrast(104%);
}

.footer-iso-desc {
  max-width: 374px;
  margin-top: 24px;
  margin-bottom: 56px;
  color: var(--white);
}

.footer-iso-social {
  display: flex;
  gap: 0 32px;
}

.iso-social-link {
  font-size: 18px;
  color: var(--white);
}

.footer-menu {
  display: flex;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-sub-list {
  display: flex;
  flex-direction: column;
}

.footer-sub-item {
  margin-bottom: 20px;
}

.footer-sub-link.sub-title {
  font-weight: 700;
  font-size: var(--font-md-2);
}

.footer-sub-link {
  color: var(--white);
}

.footer-bottom {
  padding: 24px 0;
}

.footer-copyright {
  text-align: center;
  color: var(--white);
  font-weight: 400;
  font-size: var(--font-xs);
}

@media only screen and (max-width: 576px) {
  .section-header {
    margin-bottom: 16px;
  }
  .header {
    position: fixed;
    padding: 20px 0;
    background-color: #fff;
  }
  .header-extra {
    margin-right: 0;
  }
  .logo a {
    color: var(--text-color);
    font-size: var(--font-md-2);
  }
  .logo a img {
    width: 128px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(16%)
      hue-rotate(35deg) brightness(90%) contrast(90%);
  }
  .extra-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(16%)
      hue-rotate(35deg) brightness(90%) contrast(90%);
  }
  #search {
    display: none;
  }
  .extra-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  #close {
    display: none;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 0;
    transition: 0.3s linear;
    background: var(--white);
    overflow: hidden;
  }
  .nav-active {
    display: flex;
    height: 200px;
    opacity: 1;
    visibility: visible;
  }
  .nav-active .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px 0;
    width: 100%;
  }
  .extra-active #close {
    display: flex;
  }
  .extra-active #hamburger {
    display: none;
  }
  .section-banner.section {
    height: 740px;
    background-image: url(./images/Fashion-home-image-9.png);
  }
  .container.banner-inner {
    padding-left: 24px;
  }
  .banner-policy {
    display: none;
  }
  .banner-title {
    font-size: var(--font-1-5xl);
  }
  .banner-link-text {
    font-size: var(--font-md);
  }
  .about {
    min-height: 225px;
    margin-top: 8px;
  }
  .about-content {
    padding: 16px;
  }
  .about-title {
    max-width: 120px;
    min-height: 40px;
    margin-bottom: 8px;
    font-size: var(--font-md);
  }
  .product {
    margin-bottom: 12px;
  }
  .product-content {
    padding: 4px 0;
  }
  .product-thumnail {
    height: 228px;
    object-fit: cover;
  }
  .product-name a {
    font-size: var(--font-xs);
  }
  .product-price span {
    font-size: var(--font-2xs);
  }
  .product-badge {
    top: 14px;
    left: 8px;
  }
  .section-chooseus {
    padding: 24px 0;
  }
  .section-chooseus .section-title {
    margin-bottom: 36px;
  }
  .chooseus {
    flex-direction: row;
  }
  .chooseus-thumnail {
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .chooseus-title {
    font-size: var(--font-xs);
    margin-bottom: 8px;
  }
  .chooseus-content {
    flex: 1;
    width: 100%;
    max-width: 100%;
  }
  .chooseus-desc {
    font-size: var(--font-2xs);
  }
  .contact-inner {
    flex-direction: column;
  }
  .contact-title {
    max-width: 200px;
    margin-bottom: 24px;
    font-size: var(--font-md);
    line-height: 21px;
  }
  .footer-top {
    padding: 24px 19px;
  }
  .form-group {
    flex-direction: column;
  }
  .form-input {
    margin-bottom: 16px;
  }
  .form-submit {
    max-width: 120px;
  }
  .footer-sub-link {
    font-size: var(--font-xs);
  }
  .footer-list {
    flex-direction: column;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-item {
    align-items: flex-start;
  }
  .footer-iso-desc {
    margin-bottom: 48px;
  }
  .footer-iso-social {
    display: none;
  }
  .footer-sub-item {
    margin-bottom: 16px;
  }
}
