.row {
  @include flex(null, null, null, wrap);
  margin: 0 -10px;
  & > [class*="col-"] {
    flex: 0 0 auto;
    padding: 0 10px;
  }
}

@for $i from 1 through $grid-col {
  .col-#{$i} {
    width: calc(100 / ($grid-col / $i)) * 1%;
  }
}

@include maxWidth(992px) {
  .row {
    margin: 0 -6px;
    & > [class*="col-"] {
      padding: 0 6px;
    }
  }
  @for $i from 1 through $grid-col {
    .col-lg-#{$i} {
      width: calc(100 / ($grid-col / $i)) * 1%;
    }
  }
}

@include maxWidth(576px) {
  .row {
    margin: 0 -4px;
    & > [class*="col-"] {
      padding: 0 4px;
    }
  }
  @for $i from 1 through $grid-col {
    .col-sm-#{$i} {
      width: calc(100 / ($grid-col / $i)) * 1%;
    }
  }
}



